.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #a3f1a3;
  z-index: 10;
}
.center {
  text-align: center;
}
.fixed-height {
  display: flex;
  max-height: 300px;
  min-height: 300px;
  float: left;
  margin: 5px;
  width: 19%;   
}

.content {
  background-color: #a3f1a3;
}

.ui.card {
  background-color: #a3f1a3;
}

/* colors i like
#4286f4 blue
#ede6a6 yellow 
#f2afa4 red
#a3f1a3 green
*/
.header {
	background-color: #a3f1a3;
}

.description {
	background-color: #a3f1a3;
	font-size: 15px;
	bottom: 0;
}
.bottom {
	bottom: 0;
	position:absolute;
}


