
.menu:hover {
  visibility: visible;
}
.header {
  text-align: center;  
  background-color: #ede6a6;
  border-color: #46dde2;
  font-size: 20px;
  height:75px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: white;
}
.highlight:hover {
  opacity:20%;
}
.item {
  width:150px;
  text-align:center;
}
.center {
  text-align:center;
}
.auto {
  margin:auto;
}
.item.user {
  border:none;
}
.right {
  border:none;
}
.inline {
  display:inline;
}