
.menu:hover {
  visibility: visible;
}
.header {
  text-align: center;  
  background-color: #46dde2;
  border-color: #46dde2;
  padding: 20px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #fff;
  padding-top: 10vw;
  padding-bottom: 30vw;
}
.highlight:hover {
  opacity:20%;
}
.item {
  width:150px;
  text-align:center;
}
.center {
  text-align:center;
}
.auto {
  margin:auto;
}
.item.user {
  border:none;
}
.right {
  border:none;
}
.inline {
  display:inline;
}
.100 {
  
}